<div class="navbar navbar-default fixed-top">
    <div class="navbar-brand">
        <img class="navbar-left" id="logo"
            src="../../../assets/images/yotech.png">
    </div>
    <button class="btn btn-secondary" (click)="view()">View Post</button>

</div>

<div class="t5">
    <div *ngIf="information" class="container" style="margin-top: 10px;">
        <div class="row  border-bottom">
            <div class="col-6">
                <div class="row">
                    <div class="col-1" style="height: 50px; background-color: #374458;">

                    </div>
                    <div class="col-11">
                        <h4>{{ information.basicInfo.name }}</h4>
                        <h6>{{ information.basicInfo.designation }}</h6>
                        <p>
                            {{ information.basicInfo.objective }}
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-3" style="padding-left: 0; margin-left: 0;">
                <img class="img-fluid" [src]="information.basicInfo.url"
                    style="margin-bottom: 10px; width: 136px; height: 136px; margin-left: 16%">
            </div>
            <div class="col-3" style="text-align: right;">
                <h6>Address&nbsp;&nbsp;<i class="fa fa-address-book" aria-hidden="true"></i></h6>
                <p>{{ information.basicInfo.presentaddress }}</p>
                <h6>Email&nbsp;&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i></h6>
                <p>{{ information.basicInfo.email }}</p>
                <h6>Phone&nbsp;&nbsp;<i class="fa fa-phone-square" aria-hidden="true"></i></h6>
                <p>{{ information.basicInfo.phonenumber }}</p>
            </div>
        </div><br>
        <div class="row">
            <div class="col-6  border-right">
                <div class="row">
                    <div class="col-1">

                    </div>
                    <div class="col-11">
                        <h4>Work Experience</h4><br>
                        <div class="row" *ngIf="information.experience.companyName0 && information.experience.companyName0!=''">
                            <div class="col-9">
                                <h6>{{ information.experience.designation0 }}</h6>
                                <p>{{ information.experience.companyName0 }}</p>
                            </div>
                            <div class="col-3">
                                <p>{{ information.experience.from0 }} -
                                    {{ information.experience.to0 }}</p>
                            </div>
                        </div>
                        <ul *ngIf="information.experience.companyName0">
                            <li>{{ information.experience.description0 }}</li>
                        </ul><br>
                        <div class="row" *ngIf="information.experience.companyName1 && information.experience.companyName1!=''">
                            <div class="col-9">
                                <h6>{{ information.experience.designation1 }}</h6>
                                <p>{{ information.experience.companyName1 }}</p>
                            </div>
                            <div class="col-3">
                                <p>{{ information.experience.from1 }} -
                                    {{ information.experience.to1 }}</p>
                            </div>
                        </div>
                        <ul *ngIf="information.experience.companyName1">
                            <li>{{ information.experience.description1 }}</li>
                        </ul><br>
                        <div class="row" *ngIf="information.experience.companyName2 && information.experience.companyName2!=''">
                            <div class="col-9">
                                <h6>{{ information.experience.designation2 }}</h6>
                                <p>{{ information.experience.companyName02}}</p>
                            </div>
                            <div class="col-3">
                                <p>{{ information.experience.from2 }} -
                                    {{ information.experience.to2 }}</p>
                            </div>
                        </div>
                        <ul *ngIf="information.experience.companyName2">
                            <li>{{ information.experience.description2 }}</li>
                        </ul><br>
                        <div class="row" *ngIf="information.experience.companyName3 && information.experience.companyName3!=''">
                            <div class="col-9">
                                <h6>{{ information.experience.designation3 }}</h6>
                                <p>{{ information.experience.companyName3 }}</p>
                            </div>
                            <div class="col-3">
                                <p>{{ information.experience.from3 }} -
                                    {{ information.experience.to3 }}</p>
                            </div>
                        </div>
                        <ul *ngIf="information.experience.companyName3">
                            <li>{{ information.experience.description3 }}</li>
                        </ul><br>
                        <div class="row" *ngIf="information.experience.companyName4 && information.experience.companyName4!=''">
                            <div class="col-9">
                                <h6>{{ information.experience.designation4 }}</h6>
                                <p>{{ information.experience.companyName4 }}</p>
                            </div>
                            <div class="col-3">
                                <p>{{ information.experience.from4 }} -
                                    {{ information.experience.to4 }}</p>
                            </div>
                        </div>
                        <ul *ngIf="information.experience.companyName4">
                            <li>{{ information.experience.description4 }}</li>
                        </ul><br>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-1">

                    </div>
                    <div class="col-11">
                        <h4>Education</h4><br>
                        <div class="row" *ngIf="information.qualification.certificationname0 && information.qualification.certificationname0!=''">
                            <div class="col-9">
                                <h6>{{ information.qualification.certificationname0 }}</h6>
                            </div>
                            <div class="col-3">
                                <p>{{ information.qualification.session0 }}</p>
                            </div>
                        </div>
                        <p>{{ information.qualification.institute0 }}</p>
                        <br>
                        <div class="row" *ngIf="information.qualification.certificationname1 && information.qualification.certificationname1!=''">
                            <div class="col-9">
                                <h6>{{ information.qualification.certificationname1 }}</h6>
                            </div>
                            <div class="col-3">
                                <p>{{ information.qualification.session1 }}</p>
                            </div>
                        </div>
                        <p>{{ information.qualification.institute1 }}</p>
                        <br>
                        <div class="row" *ngIf="information.qualification.certificationname2 && information.qualification.certificationname2!=''">
                            <div class="col-9">
                                <h6>{{ information.qualification.certificationname2 }}</h6>
                            </div>
                            <div class="col-3">
                                <p>{{ information.qualification.session2 }}</p>
                            </div>
                        </div>
                        <p>{{ information.qualification.institute2 }}</p>
                        <br>
                        <div class="row" *ngIf="information.qualification.certificationname3 && information.qualification.certificationname3!=''">
                            <div class="col-9">
                                <h6>{{ information.qualification.certificationname3 }}</h6>
                            </div>
                            <div class="col-3">
                                <p>{{ information.qualification.session3 }}</p>
                            </div>
                        </div>
                        <p>{{ information.qualification.institute3 }}</p>
                        <br>
                        <div class="row" *ngIf="information.qualification.certificationname4 && information.qualification.certificationname4!=''">
                            <div class="col-9">
                                <h6>{{ information.qualification.certificationname4 }}</h6>
                            </div>
                            <div class="col-3">
                                <p>{{ information.qualification.session4 }}</p>
                            </div>
                        </div>
                        <p>{{ information.qualification.institute4 }}</p>
                        <br>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-1">

                    </div>
                    <div class="col-11">
                        <h4>Projects</h4><br>
                        <div class="row" *ngIf="information.projects.topic0 && information.projects.topic0!=''">
                            <div class="col-9">
                                <h6>{{ information.projects.topic0 }}</h6>
                            </div>
                            <div class="col-3">
                                <p>{{ information.projects.year0 }}</p>
                            </div>
                        </div>
                        <p>{{ information.projects.description0 }}</p>
                        <br>
                        <div class="row" *ngIf="information.projects.topic1 && information.projects.topic1!=''">
                            <div class="col-9">
                                <h6>{{ information.projects.topic1 }}</h6>
                            </div>
                            <div class="col-3">
                                <p>{{ information.projects.year1 }}</p>
                            </div>
                        </div>
                        <p>{{ information.projects.description1 }}</p>
                        <br>
                        <div class="row" *ngIf="information.projects.topic2 && information.projects.topic2!=''">
                            <div class="col-9">
                                <h6>{{ information.projects.topic2 }}</h6>
                            </div>
                            <div class="col-3">
                                <p>{{ information.projects.year2 }}</p>
                            </div>
                        </div>
                        <p>{{ information.projects.description2 }}</p>
                        <br>
                        <div class="row" *ngIf="information.projects.topic3 && information.projects.topic3!=''">
                            <div class="col-9">
                                <h6>{{ information.projects.topic3 }}</h6>
                            </div>
                            <div class="col-3">
                                <p>{{ information.projects.year3 }}</p>
                            </div>
                        </div>
                        <p>{{ information.projects.description3 }}</p>
                        <br>
                        <div class="row" *ngIf="information.projects.topic4 && information.projects.topic4!=''">
                            <div class="col-9">
                                <h6>{{ information.projects.topic4 }}</h6>
                            </div>
                            <div class="col-3">
                                <p>{{ information.projects.year4 }}</p>
                            </div>
                        </div>
                        <p>{{ information.projects.description4 }}</p>
                        
                    </div>
                </div><br>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-1">

                    </div>
                    <div class="col-11">
                        <h4>Skills</h4><br>
                        <h6>Programming Languages</h6>
                        <p>{{ information.skills.programming }}</p>
                        <h6>Framework</h6>
                        <p>{{ information.skills.framework }}</p>
                        <h6>Operating Systems</h6>
                        <p>{{ information.skills.system }}</p>
                        <h6>Web Technologies</h6>
                        <p>{{ information.skills.other }}</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-1">

                    </div>
                    <div class="col-11">
                        <h4>Participation</h4><br>
                        <div *ngIf="information.participation.event0 && information.participation.event0!=''">
                            <h6>{{ information.participation.event0 }}</h6>
                            <small>{{ information.participation.time0 }}</small>
                            <p>{{ information.participation.achievement0 }}</p><br>
                        </div>
                        <div *ngIf="information.participation.event1 && information.participation.event1!=''">
                            <h6>{{ information.participation.event1 }}</h6>
                            <small>{{ information.participation.time1 }}</small>
                            <p>{{ information.participation.achievement1 }}</p><br>
                        </div>
                        <div *ngIf="information.participation.event2 && information.participation.event2!=''">
                            <h6>{{ information.participation.event2 }}</h6>
                            <small>{{ information.participation.time2 }}</small>
                            <p>{{ information.participation.achievement2 }}</p><br>
                        </div>
                        <div *ngIf="information.participation.event3 && information.participation.event3!=''">
                            <h6>{{ information.participation.event3 }}</h6>
                            <small>{{ information.participation.time3 }}</small>
                            <p>{{ information.participation.achievement3 }}</p><br>
                        </div>
                        <div *ngIf="information.participation.event4 && information.participation.event4!=''">
                            <h6>{{ information.participation.event4 }}</h6>
                            <small>{{ information.participation.time4 }}</small>
                            <p>{{ information.participation.achievement4 }}</p><br>
                        </div>

                    </div>
                </div><br>
                <div class="row">
                    <div class="col-1">

                    </div>
                    <div class="col-11">
                        <h4>Online Judges</h4><br>
                        <div *ngIf="information.onlineJudge.judgeName0 && information.onlineJudge.judgeName0!=''">
                            <h6>{{ information.onlineJudge.judgeName0 }}</h6>
                            <p>{{ information.onlineJudge.id0 }}</p>
                            <p>{{ information.onlineJudge.judgeAcheievement0 }}</p>
                        </div><br>
                        <div *ngIf="information.onlineJudge.judgeName1 && information.onlineJudge.judgeName1!=''">
                            <h6>{{ information.onlineJudge.judgeName1 }}</h6>
                            <p>{{ information.onlineJudge.id1 }}</p>
                            <p>{{ information.onlineJudge.judgeAcheievement1 }}</p>
                        </div><br>
                        <div *ngIf="information.onlineJudge.judgeName2 && information.onlineJudge.judgeName2!=''">
                            <h6>{{ information.onlineJudge.judgeName2 }}</h6>
                            <p>{{ information.onlineJudge.id2 }}</p>
                            <p>{{ information.onlineJudge.judgeAcheievement2 }}</p>
                        </div><br>
                        <div *ngIf="information.onlineJudge.judgeName3 && information.onlineJudge.judgeName3!=''">
                            <h6>{{ information.onlineJudge.judgeName3 }}</h6>
                            <p>{{ information.onlineJudge.id3 }}</p>
                            <p>{{ information.onlineJudge.judgeAcheievement3 }}</p>
                        </div><br>
                        <div *ngIf="information.onlineJudge.judgeName4 && information.onlineJudge.judgeName4!=''">
                            <h6>{{ information.onlineJudge.judgeName4 }}</h6>
                            <p>{{ information.onlineJudge.id4 }}</p>
                            <p>{{ information.onlineJudge.judgeAcheievement4 }}</p>
                        </div>
                    </div>
                </div><br>




            </div>
        </div>
    </div>
</div>