<app-nav></app-nav>
<form #form="ngForm" (submit)="onSubmit(form)" style="margin-top: 100px !important;">
    <section class="cv">
        <div class="container">
            <div class="background-color">
                <div ngModelGroup="basicinfo" class="header">
                    <div class="row m-0">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="cv-left">
                                <div class="cv-head">
                                    <img src="../../assets/images/user1.png" alt="">
                                    <input style="margin-top: 15px !important;" (change)="upload($event)" type="file" accept=".jpg,.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="cv-right">
                                <div class="cv-head">
                                    <div class="form-group col-md-16">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" ngModel
                                            #name="ngModel" required minlength="4">

                                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                            class="alert alert-danger">

                                            <div *ngIf="name.errors.required">
                                                Name is required.
                                            </div>
                                            <div *ngIf="name.errors.minlength">
                                                Name must be at least 4 characters long.
                                            </div>
                                            <div *ngIf="name.errors.forbiddenName">
                                                Name cannot be Bob.
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-16">
                                        <label for="designation">
                                            Designation
                                        </label>
                                        <input type="text" class="form-control" id="designation" name="designation"
                                            ngModel>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="cv-left">
                            <div ngModelGroup="basicinfo" class="cv-left-content">
                                <div class="cv-left-title">
                                    <h4>Contact</h4>
                                </div>
                                <div class="cv-content">
                                    <ul>
                                        <li>


                                            <div class="form-group col-md-16">
                                                <label for="phonenumber" style="color: #F9F9FB;">Phone</label>
                                                <input type="text" class="form-control" id="phonenumber"
                                                    name="phonenumber" #phonenumber="ngModel" ngModel>
                                            </div>
                                        </li>
                                        <li>

                                            <div class="form-group col-md-16">
                                                <label for="email" style="color: #F9F9FB;">Email</label>
                                                <input type="email" class="form-control" id="email"
                                                    aria-describedby="emailHelp" name="email"
                                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel
                                                    #email="ngModel" required>

                                                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                                    class="alert alert-danger">

                                                    <div *ngIf="email.errors.required">
                                                        Email is required.
                                                    </div>
                                                    <div *ngIf="email.errors.pattern">
                                                        This is not a valid email.
                                                    </div>

                                                </div>



                                            </div>
                                        </li>
                                        <li>

                                            <div class="form-group col-16">
                                                <label for="presentaddress" style="color: #F9F9FB;">Address</label>
                                                <input type="text" class="form-control" id="presentaddress"
                                                    name="presentaddress" #presentaddress="ngModel" ngModel>

                                            </div>
                                        </li>
                                        <li>

                                            <div class="form-group col-md-16">
                                                <label for="linkedin" style="color: #F9F9FB;">linkedin</label>
                                                <input type="text" class="form-control" id="linkedin" name="linkedin"
                                                    #linkedin="ngModel" ngModel>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cv-left-content">
                                <div class="cv-left-title">
                                    <h4>Education</h4>
                                </div>
                                <div ngModelGroup="qualification" class="cv-content">
                                    <ul class="education">
                                        <li>
                                            <div class="form-group col-md-16">
                                                <label for="certificationname0">Cirtification Name</label>
                                                <input type="text" class="form-control" id="certificationname0"
                                                    name="certificationname0" #certificationname0="ngModel" ngModel>
                                            </div>
                                            <div class="form-group col-md-16">
                                                <label for="institute0">Institute</label>
                                                <input type="text" class="form-control" id="institute0"
                                                    name="institute0" #institute0="ngModel" ngModel>
                                            </div>
                                            <div class="form-group col-md-16">
                                                <label for="session0">Session</label>
                                                <input type="text" class="form-control" id="session0" name="session0"
                                                    #session0="ngModel" ngModel>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group col-md-16">
                                                <label for="certificationname1">Cirtification Name</label>
                                                <input type="text" class="form-control" id="certificationname1"
                                                    name="certificationname1" #certificationname1="ngModel" ngModel>
                                            </div>
                                            <div class="form-group col-md-16">
                                                <label for="institute1">Institute</label>
                                                <input type="text" class="form-control" id="institute1"
                                                    name="institute1" #institute1="ngModel" ngModel>
                                            </div>
                                            <div class="form-group col-md-16">
                                                <label for="session1">Session</label>
                                                <input type="text" class="form-control" id="session1" name="session1"
                                                    #session1="ngModel" ngModel>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group col-md-16">
                                                <label for="certificationname2">Cirtification Name</label>
                                                <input type="text" class="form-control" id="certificationname2"
                                                    name="certificationname2" #certificationname2="ngModel" ngModel>
                                            </div>
                                            <div class="form-group col-md-16">
                                                <label for="institute2">Institute</label>
                                                <input type="text" class="form-control" id="institute2"
                                                    name="institute2" #institute2="ngModel" ngModel>
                                            </div>
                                            <div class="form-group col-md-16">
                                                <label for="session2">Session</label>
                                                <input type="text" class="form-control" id="session2" name="session2"
                                                    #session2="ngModel" ngModel>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cv-left-content">
                                <div class="cv-left-title">
                                    <h4>Skills</h4>
                                </div>
                                <div ngModelGroup="software" class="cv-content">
                                    <p class="professional">//Professional</p>

                                    <ul class="skill">

                                        <li>
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" placeholder="skill/software"
                                                    id="soft0" name="soft0" #soft0="ngModel" ngModel>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" placeholder="skill/software"
                                                    id="soft1" name="soft1" #soft1="ngModel" ngModel>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" placeholder="skill/software"
                                                    id="soft2" name="soft2" #soft2="ngModel" ngModel>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" placeholder="skill/software"
                                                    id="soft3" name="soft3" #soft3="ngModel" ngModel>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" placeholder="skill/software"
                                                    id="soft4" name="soft4" #soft4="ngModel" ngModel>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" placeholder="skill/software"
                                                    id="soft5" name="soft5" #soft5="ngModel" ngModel>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="bg-white">
                            <div class="row">
                                <div class="col l12">
                                    <div class="cv-right">
                                        <div class="cv-right-content">
                                            <div class="cv-title">
                                                <h4>profile</h4>
                                            </div>
                                            <div class="cv-content">
                                                <div ngModelGroup="basicinfo" class="cv-des">
                                                    <label for="objective">About</label>
                                                    <textarea class="form-control" name="objective" ngModel
                                                        style="height: 100px;"></textarea>
                                                </div>
                                            </div><br>
                                        </div>
                                        <div ngModelGroup="experience" class="cv-right-content">
                                            <div class="cv-title">
                                                <h4>work experience</h4>
                                            </div>
                                            <div class="cv-content">
                                                <div class="job-title">
                                                    <div style="width: 60%;">
                                                        <label for="companyName0">Company Name</label>
                                                        <input type="text" class="form-control" id="companyName0"
                                                            name="companyName0" #companyName0="ngModel" ngModel>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="desgnation0">Designation</label>
                                                            <input type="text" class="form-control" id="desgnation0"
                                                                name="designation0" #desgnation0="ngModel" ngModel>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="from0">From</label>
                                                                    <input type="text" class="form-control" id="from0"
                                                                        name="from0" #from0="ngModel" ngModel>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="to0">To</label>
                                                                    <input type="text" class="form-control" id="to0"
                                                                        name="to0" #to0="ngModel" ngModel>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cv-des">
                                                    <label for="description0">Description</label>
                                                    <textarea style="height: 100px;" type="text" class="form-control"
                                                        id="description0" name="description0" #description0="ngModel"
                                                        ngModel></textarea>
                                                    
                                                </div>
                                            </div><br><br>
                                            <div class="cv-content">
                                                <div class="job-title">
                                                    <div style="width: 60%;">
                                                        <label for="companyName1">Company Name</label>
                                                        <input type="text" class="form-control" id="companyName1"
                                                            name="companyName1" #companyName1="ngModel" ngModel>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="desgnation1">Designation</label>
                                                            <input type="text" class="form-control" id="desgnation1"
                                                                name="designation1" #desgnation1="ngModel" ngModel>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="from1">From</label>
                                                                    <input type="text" class="form-control" id="from1"
                                                                        name="from1" #from1="ngModel" ngModel>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="to1">To</label>
                                                                    <input type="text" class="form-control" id="to1"
                                                                        name="to1" #to1="ngModel" ngModel>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cv-des">
                                                    <label for="description1">Description</label>
                                                    <textarea style="height: 100px;" type="text" class="form-control"
                                                        id="description1" name="description1" #description1="ngModel"
                                                        ngModel></textarea>
                                                </div>
                                            </div><br><br>
                                            <div class="cv-content">
                                                <div class="job-title">
                                                    <div style="width: 60%;">
                                                        <label for="companyName2">Company Name</label>
                                                        <input type="text" class="form-control" id="companyName2"
                                                            name="companyName2" #companyName2="ngModel" ngModel>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="desgnation2">Designation</label>
                                                            <input type="text" class="form-control" id="desgnation2"
                                                                name="designation2" #desgnation2="ngModel" ngModel>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="from2">From</label>
                                                                    <input type="text" class="form-control" id="from2"
                                                                        name="from2" #from2="ngModel" ngModel>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="to2">To</label>
                                                                    <input type="text" class="form-control" id="to2"
                                                                        name="to2" #to2="ngModel" ngModel>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cv-des">
                                                    <label for="description2">Description</label>
                                                    <textarea style="height: 100px;" type="text" class="form-control"
                                                        id="description2" name="description2" #description0="ngModel"
                                                        ngModel></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button style="float: right; margin-bottom: 20px !important;" type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
        </div>
        
    </section>
</form>