*{
    -moz-box-sizing: border-box;
         box-sizing: border-box
}
html, body, h1, h3, h4, h5, h6{
  font-family:"Montserrat", sans-serif;

}


															/*frame work*/


.container1:hover{
	cursor: pointer;
    transform: scale(1.015);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.45);
}

.resume p{
	margin: 0;
	font-family: "Montserrat", sans-serif;
}


* {
  outline: none;
}



a {
  text-decoration: none;
  color: #555;
  display: block;
  transition-duration: 0.3s;
}


.base h3 {
  color: #FFFFFF;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.func h3{
  color: #0BB8F6;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

  .resume h4 {
    color: #FFFFFF;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    }
  .func span,.resume small, .resume p{
    font-family: "Montserrat", sans-serif;
    color: #555555 !important;
  }
  .resume span{
    font-weight: 600 !important;
    font-size: 13px !important;
  }
  .resume .base p{
    color: #b1eaff !important;
  }

.resume {
  width: 870px;
  background: #f7db9bab;
  margin: 20px auto;
  margin-top: 100px;
  border: 1px solid #fff;
  box-shadow: 0 0 3px 2px #8e8686;
  position: relative;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  word-spacing: 2px;
}
.resume .func hr{
  background-color: #B1EAFF;
  padding: 0.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.resume .base hr{
  background-color: #FFFFFF;
  padding: 0.5px;
  margin-bottom: 20px;
}
.resume::before {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.resume::after {
  content: "";
  display: block;
  clear: both;
}
.resume .base, .resume .func {
  box-sizing: border-box;
  float: left;
}
.resume .base > div, .resume .func > div {
  padding-bottom: 10px;
}
.resume .base > div:last-of-type, .resume .func > div:last-of-type {
  padding-bottom: 0;
}
.resume .base {
  width: 225px;
  padding: 30px 15px;
  background: rgba(238, 238, 238, 0.6);
  background-color: #0BB5F4;
  color: #b1eaff;
}
.resume .base .profile {
  background: #EDFFEA;
  padding: 30px 15px 5px 15px;
  margin: -30px -15px 45px -15px;
  position: relative;
  background-color: inherit;
  
}
.resume .base .profile::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: -15px;
  left: 0;
  transform: skewY(-5deg);
  z-index: -1;
}
.resume .base .profile .photo img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}
.resume .base .profile .info {
  color: black;
}
.resume .base .profile .info .name {
  margin-top: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
	font-weight: 700;
  font-size: 16px;
}
.resume .base .contact {
  position: relative;
  line-height: 24px;
}
.resume .base .contact div a:hover {
  color: #e07a5f;
}
.resume .base .contact div a:hover span::after {
  width: 100%;
}
.contact i{
  width: 25px;
  height: 25px;
  background: #fff;
  color: #0bb5f4;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 13px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resume .base .contact div span {
  position: relative;
}
.resume .base .contact div span::after {
  content: "";
  position: absolute;
  background: #e07a5f;
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}
.resume .base .follow .box {
  text-align: center;
  vertical-align: middle;
}
.resume .base .follow .box a {
  display: inline-block;
  vertical-align: text-bottom;
}
.resume .base .follow .box a:hover i {
  background: #e07a5f;
  border-radius: 5px;
  transform: rotate(45deg) scale(0.8);
}
.resume .base .follow .box a:hover i::before {
  transform: rotate(-45deg) scale(1.5);
}
.resume .base .follow .box i {
  display: inline-block;
  font-size: 16px;
  background: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  color: #0BB5F4;
  margin: 0 5px 5px 5px;
  transition-duration: 0.3s;
}
.resume .base .follow .box i::before {
  transition-duration: 0.3s;
}
.resume .base .follow .box i.fa::before {
  display: block;
}
.resume .func {
  width: 645px;
  padding: 30px 25px;
  background-color:#FFFFFF;
  
}

.resume .func:hover > div:hover h3 {
  letter-spacing: 1.6px;
}
.resume .func:hover > div:hover h3 i {
  transform: scale(1.2);
}

.resume .func h3 {
  transition-duration: 0.3s;
  margin-top: 0;
}
.resume .func h3 i {
  color: #FFFFFF;
  background: #0BB5F4;
  width: 42px;
  height: 42px;
  font-size: 16px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}
.resume .func  {
  float: left;
}
.resume .func .work small, .resume .func .edu small {
  display: block;
  opacity: 0.7;
}
.resume .func .work ul li, .resume .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}
.resume .func .work ul li:hover::before, .resume .func .edu ul li:hover::before {
  animation: circle 1.2s infinite;
}
.resume .func .work ul li:hover span, .resume .func .edu ul li:hover span {
  color: rgb(20, 65, 160);
}
@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #3d405b;
  }
  to {
    box-shadow: 0 0 0 6px rgba(61, 64, 91, 0);
  }
}
.resume .func .work ul li:first-of-type::before, .resume .func .edu ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}
.resume .func .work ul li:last-of-type, .resume .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}
.resume .func .work ul li:last-of-type::after, .resume .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}
.resume .func .work ul li::before, .resume .func .work ul li::after, .resume .func .edu ul li::before, .resume .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}
.resume .func .work ul li::before, .resume .func .edu ul li::before {
  width: 7px;
  height: 7px;
  border: 3px solid #0BB5F4;
  background: #fcfcfc;
  border-radius: 50%;
  left: 0;
  z-index: 1;
}
.resume .func .work ul li::after, .resume .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: #0BB5F4;
  left: 5px;
  top: 0;
}
.resume .func .work ul li span, .resume .func .edu ul li span {
  transition-duration: 0.3s;
}
.resume .func .work {
  width: 100%;
}
.resume .func .edu {
  width: 100%;
}
.resume .func .skills-prog {
  clear: both;
}
.resume .func .skills-prog ul {
  margin-left: 15px;
}
.resume .func .skills-prog ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}
.resume .func .skills-prog ul li:hover {
  color: rgb(6, 61, 180);
}
.resume .func .skills-prog ul li:hover .skills-bar .bar {
  background:rgb(6, 61, 180);
  box-shadow: 0 0 0 1px rgb(6, 61, 180)7;
}
.resume .func .skills-prog ul li span {
  display: block;
  width: 120px;
}
.resume .func .skills-prog ul li .skills-bar {
  background: #cdcdcd;
  height: 2px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}
.resume .func .skills-prog ul li .skills-bar .bar {
  position: absolute;
  top: -1px;
  height: 4px;
  background: #16bd77;
  box-shadow: 0 0 0 #16bd77;
  border-radius: 5px;
}
.resume .func .skills-soft ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.resume .func .skills-soft ul li {
  position: relative;
}
.resume .func .skills-soft ul li:hover svg .cbar {
  stroke: #cca944;  stroke-width: 4px;
}
.resume .func .skills-soft ul li:hover span, .resume .func .skills-soft ul li:hover small {
  transform: scale(1.2);
}
.resume .func .skills-soft ul li svg {
  width: 95%;
  fill: transparent;
  transform: rotate(-90deg);
}
.resume .func .skills-soft ul li svg circle {
  stroke-width: 1px;
  stroke: #3d405a;
}
.resume .func .skills-soft ul li svg .cbar {
  stroke-width: 3px;
  stroke: #8d9e78;
  stroke-linecap: round;
}
.resume .func .skills-soft ul li span, .resume .func .skills-soft ul li small {
  position: absolute;
  display: block;
  width: 100%;
  top: 52%;
  transition-duration: 0.3s;
}
.resume .func .skills-soft ul li span {
  top: 40%;
}
.resume .func .interests-items {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  border: 1px solid #cdcdcd;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.resume .func .interests-items div {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.resume .func .interests-items div:hover i {
  transform: scale(1.2);
}
.resume .func .interests-items div:hover span {
  color: #16bd77;
  transition-duration: 0.3s;
}
.resume .func .interests-items div i {
  font-size: 35px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #8d9e78;
  transition-duration: 0.3s;
}
.resume .func .interests-items div i.guitar {
  display: block;
  margin: 0 auto;
}
.resume .func .interests-items div i.guitar svg {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  fill: #8d9e78;
}
.resume .func .interests-items div span {
  display: block;
}
.form-control{
    background-color: inherit;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1x solid;
    border-radius: 0;
  }
  label{
    margin-bottom: 0;
  }
  
  