<div class="navbar navbar-default fixed-top">
    <div class="navbar-brand">
        <img class="navbar-left" id="logo"
            src="../../../assets/images/yotech.png">
    </div>
    <button class="btn btn-secondary" (click)="view()">View Post</button>

</div>

<div class="t4">
    <div class="container" *ngIf="information">
        <div class="row" style="height: 80px; margin-bottom: 30px;">
            <div class="col-6" style="background-color: #003D73; color: #FFFFFF; text-align: center;">
                <h3>Resume of {{ information.basicInfo.name }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <h4 style="color: #9B9B9B;">{{ information.basicInfo.name }}</h4>
                <p>{{ information.basicInfo.designation }}</p>
            </div>
            <div class="col-6">

                <h6><i class="fa fa-address-book" aria-hidden="true"></i> &nbsp;&nbsp;Address</h6>
                <p>{{ information.basicInfo.presentaddress }}</p><br>
                <h6><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;Email</h6>
                <p>{{information.basicInfo.email }}</p><br>
                <h6><i class="fa fa-phone-square" aria-hidden="true"></i> &nbsp;&nbsp;Phone</h6>
                <p>{{information.basicInfo.phonenumber }}</p><br>


            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-4 border-right">
                <h4>About me</h4>
                <hr>
                <p>
                    {{information.basicInfo.objective }}
                </p>
                <hr>
                <h4>Skills</h4>
                <hr>
                <h6>Programming Languages</h6>
                <p>{{ information.skills.programming }}</p><br>
                <h6>Frameworks</h6>
                <p>{{ information.skills.framework }}</p><br>
                <h6>Operating System</h6>
                <p>{{ information.skills.system }}</p><br>
                <h6>Web Technologies</h6>
                <p>{{ information.skills.other }}</p><br>
            </div>
            <div class="col-8">
                <h4>Work History</h4>
                <hr>
                <div class="row" *ngIf="information.experience.companyName0 && information.experience.companyName0!=''">
                    <div class="col-3">
                        <p>{{information.experience.from0}} -</p>
                        <p>{{information.experience.to0}}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{information.experience.designation0}}</h5>
                        <p>{{information.experience.companyName0}}</p>
                        <ul>
                            <li>{{ information.experience.description0 }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row" *ngIf="information.experience.companyName1 && information.experience.companyName1!=''">
                    <div class="col-3">
                        <p>{{information.experience.from1}} -</p>
                        <p>{{information.experience.to1}}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{information.experience.designation1}}</h5>
                        <p>{{information.experience.companyName1}}</p>
                        <ul>
                            <li>{{ information.experience.description1 }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row" *ngIf="information.experience.companyName2 && information.experience.companyName2!=''">
                    <div class="col-3">
                        <p>{{information.experience.from2}} -</p>
                        <p>{{information.experience.to2}}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{information.experience.designation2}}</h5>
                        <p>{{information.experience.companyName2}}</p>
                        <ul>
                            <li>{{ information.experience.description2 }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row" *ngIf="information.experience.companyName3 && information.experience.companyName3!=''">
                    <div class="col-3">
                        <p>{{information.experience.from3}} -</p>
                        <p>{{information.experience.to3}}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{information.experience.designation3}}</h5>
                        <p>{{information.experience.companyName3}}</p>
                        <ul>
                            <li>{{ information.experience.description3 }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row" *ngIf="information.experience.companyName4 && information.experience.companyName4!=''">
                    <div class="col-3">
                        <p>{{information.experience.from4}} -</p>
                        <p>{{information.experience.to4}}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{information.experience.designation4}}</h5>
                        <p>{{information.experience.companyName4}}</p>
                        <ul>
                            <li>{{ information.experience.description4 }}</li>
                        </ul>
                    </div>
                </div>
                <h4>Education</h4>
                <hr>
                <div class="row" *ngIf="information.qualification.certificationname0 && information.qualification.certificationname0!=''">
                    <div class="col-3">
                        <p>{{ information.qualification.session0 }}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{ information.qualification.certificationname0 }}</h5>
                        <p>{{ information.qualification.institute0 }}</p>
                        <p>{{ information.qualification.description0 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.qualification.certificationname1 && information.qualification.certificationname1!=''">
                    <div class="col-3">
                        <p>{{ information.qualification.session1 }}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{ information.qualification.certificationname1 }}</h5>
                        <p>{{ information.qualification.institute1 }}</p>
                        <p>{{ information.qualification.description1 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.qualification.certificationname2 && information.qualification.certificationname2!=''">
                    <div class="col-3">
                        <p>{{ information.qualification.session2 }}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{ information.qualification.certificationname2 }}</h5>
                        <p>{{ information.qualification.institute2 }}</p>
                        <p>{{ information.qualification.description2 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.qualification.certificationname3 && information.qualification.certificationname3!=''">
                    <div class="col-3">
                        <p>{{ information.qualification.session3 }}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{ information.qualification.certificationname3 }}</h5>
                        <p>{{ information.qualification.institute3 }}</p>
                        <p>{{ information.qualification.description3 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.qualification.certificationname4 && information.qualification.certificationname4!=''">
                    <div class="col-3">
                        <p>{{ information.qualification.session4 }}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{ information.qualification.certificationname4 }}</h5>
                        <p>{{ information.qualification.institute4 }}</p>
                        <p>{{ information.qualification.description4 }}</p>
                    </div>
                </div><br>
                <h4>Porjects</h4>
                <hr>
                <div class="row" *ngIf="information.projects.topic0 && information.projects.topic0!=''">
                    <div class="col-3">
                        <p>{{ information.projects.year0 }}</p>

                    </div>
                    <div class="col-9">
                        <h5>{{ information.projects.topic0 }}</h5>
                        <p>{{ information.projects.description0 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.projects.topic1 && information.projects.topic1!=''">
                    <div class="col-3">
                        <p>{{ information.projects.year1 }}</p>

                    </div>
                    <div class="col-9">
                        <h5>{{ information.projects.topic1 }}</h5>
                        <p>{{ information.projects.description1 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.projects.topic2 && information.projects.topic2!=''">
                    <div class="col-3">
                        <p>{{ information.projects.year2 }}</p>

                    </div>
                    <div class="col-9">
                        <h5>{{ information.projects.topic2 }}</h5>
                        <p>{{ information.projects.description2 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.projects.topic3 && information.projects.topic3!=''">
                    <div class="col-3">
                        <p>{{ information.projects.year3 }}</p>

                    </div>
                    <div class="col-9">
                        <h5>{{ information.projects.topic3 }}</h5>
                        <p>{{ information.projects.description3 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.projects.topic4 && information.projects.topic4!=''">
                    <div class="col-3">
                        <p>{{ information.projects.year4 }}</p>

                    </div>
                    <div class="col-9">
                        <h5>{{ information.projects.topic4 }}</h5>
                        <p>{{ information.projects.description4 }}</p>
                    </div>
                </div><br>
                <h4>Participation</h4>
                <hr>
                <div class="row" *ngIf="information.participation.event0 && information.participation.event0!=''">
                    <div class="col-3">
                        <p>{{ information.participation.time0 }}</p>

                    </div>
                    <div class="col-9">
                        <h5>{{ information.participation.event0 }}</h5>
                        <p>{{ information.participation.achievement0 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.participation.event1 && information.participation.event1!=''">
                    <div class="col-3">
                        <p>{{ information.participation.time1 }}</p>

                    </div>
                    <div class="col-9">
                        <h5>{{ information.participation.event1 }}</h5>
                        <p>{{ information.participation.achievement1 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.participation.event2 && information.participation.event2!=''">
                    <div class="col-3">
                        <p>{{ information.participation.time2 }}</p>

                    </div>
                    <div class="col-9">
                        <h5>{{ information.participation.event2 }}</h5>
                        <p>{{ information.participation.achievement2 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.participation.event3 && information.participation.event3!=''">
                    <div class="col-3">
                        <p>{{ information.participation.time3 }}</p>

                    </div>
                    <div class="col-9">
                        <h5>{{ information.participation.event3 }}</h5>
                        <p>{{ information.participation.achievement3 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.participation.event4 && information.participation.event4!=''">
                    <div class="col-3">
                        <p>{{ information.participation.time4 }}</p>

                    </div>
                    <div class="col-9">
                        <h5>{{ information.participation.event4 }}</h5>
                        <p>{{ information.participation.achievement4 }}</p>
                    </div>
                </div><br>
                <h4>Online Judges</h4>
                <hr>
                <div class="row" *ngIf="information.onlineJudge.judgeName0 && information.onlineJudge.judgeName0!=''">
                    <div class="col-3">
                        <p>{{ information.onlineJudge.id0 }}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{ information.onlineJudge.judgeName0 }}</h5>
                        <p>{{ information.onlineJudge.judgeAchievement0 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.onlineJudge.judgeName1 && information.onlineJudge.judgeName1!=''">
                    <div class="col-3">
                        <p>{{ information.onlineJudge.id1 }}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{ information.onlineJudge.judgeName1 }}</h5>
                        <p>{{ information.onlineJudge.judgeAchievement1 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.onlineJudge.judgeName2 && information.onlineJudge.judgeName2!=''">
                    <div class="col-3">
                        <p>{{ information.onlineJudge.id2 }}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{ information.onlineJudge.judgeName2 }}</h5>
                        <p>{{ information.onlineJudge.judgeAchievement2 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.onlineJudge.judgeName3 && information.onlineJudge.judgeName3!=''">
                    <div class="col-3">
                        <p>{{ information.onlineJudge.id3 }}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{ information.onlineJudge.judgeName3 }}</h5>
                        <p>{{ information.onlineJudge.judgeAchievement3 }}</p>
                    </div>
                </div><br>
                <div class="row" *ngIf="information.onlineJudge.judgeName4 && information.onlineJudge.judgeName4!=''">
                    <div class="col-3">
                        <p>{{ information.onlineJudge.id4 }}</p>
                    </div>
                    <div class="col-9">
                        <h5>{{ information.onlineJudge.judgeName4 }}</h5>
                        <p>{{ information.onlineJudge.judgeAchievement4 }}</p>
                    </div>
                </div><br>
            </div>
        </div>
        <div class="row" style="height: 80px; margin-bottom: 30px;">
            <div class="col-6" style="background-color: inherit;">
            </div>
            <div class="col-6" style="background-color: #003D73;">
            </div>
        </div>
    </div>
</div>
