<app-nav></app-nav>

<section class="all-cv mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="single-cv">
          <img src="../../assets/images/template3.png" alt="">
          <div class="single-cv-hover">
            <button (click)="GoThird()" class="btn yoBtn">Use Template</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="single-cv">
          <img src="../../assets/images/Template6.PNG" alt="">
          <div class="single-cv-hover">
            <button (click)="GoSixth()" class="btn yoBtn">Use Template</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="single-cv">
          <img src="../../assets/images/Template7.PNG" alt="">
          <div class="single-cv-hover">
            <button (click)="GoSeven()" class="btn yoBtn">Use Template</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="single-cv">
          <img src="../../assets/images/template2.png" alt="">
          <div class="single-cv-hover">
            <button (click)="GoSecond()" class="btn yoBtn">Use Template</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="single-cv">
          <img src="../../assets/images/template4.png" alt="">
          <div class="single-cv-hover">
            <button (click)="GoFourth()" class="btn yoBtn">Use Template</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="single-cv">
          <img src="../../assets/images/Template5.PNG" alt="">
          <div class="single-cv-hover">
            <button (click)="GoFifth()" class="btn yoBtn">Use Template</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
