@import "../template2.component.css";

.add-remove {
  background-color: transparent;
  border-style: none;
}

.add-remove.add i {
  color: #f08c2e;
  font-size: 16px;
  transition: .3s;
}

.add-remove.add i:hover {
  transform: scale(1.1);
}

.add-remove.remove i {
  color: #f08c2e;
}

.m-30 {
  margin-top: 30px;
}
