<!-- header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/yotech.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-end navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/career']">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/my-job']">My Job</a>
                </li>
                <li *ngIf="!login" class="nav-item">
                    <a class="nav-link" [routerLink]="['/sign-in']">Log in</a>
                </li>
                <li *ngIf="login" class="nav-item">
                    <a class="nav-link" [routerLink]="['/sign-in']" (click)="signout()">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- header ends -->

<!-- page content -->
<!-- page content -->
<section class="page-content">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Post Name</th>
                            <th scope="col">Applied At</th>
                            <th scope="col">View</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="information != undefined && jobInfo != undefined">
                            <td>{{jobInfo.job.title}}</td>
                            <td>{{information.dateTime}}</td>
                            <td><a [routerLink]="['/job-description', information.jobId]">
                                    <button class="btn yoBtn">View</button></a>
                            </td>
                            <td *ngIf="information.isSelected == 0">
                                Pending...

                            </td>
                            <td *ngIf="information.isSelected == 1">Shorlisted</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- page content ends -->

<!-- footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright &copy; 2020 <span class="orange">Yo</span><span class="purple">Tech</span> Limited All
                    rights
                    reserved</p>
            </div>
        </div>
    </div>
</footer>
<!-- footer ends -->