<body>
    <!-- header -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" [routerLink]="['/admin-home']">
          <img src="../../../assets/images/yotech.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-end navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin-home']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/admin-add']">Add Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin-view']">View Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/sign-in']" (click)="signout()">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- header ends -->
  
    <!-- page content -->
    <section class="page-content">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <form #form="ngForm">
              <div class="form-row" ngModelGroup="jobDetails">
                <div class="col-12">
                  <label>Your Title</label>
                  <input type="text" name="title" class="form-control mb-2" placeholder="Post Title" ngModel>
                </div>
                <div class="col-6">
                  <label>Job Nature</label>
                  <input type="text" name="jobNature" class="form-control mb-2" placeholder="Job Nature" ngModel>
                </div>
                <div class="col-6">
                  <label>Available Position</label>
                  <input type="number" name="availablePosition" min="0" ngModel
                   class="form-control mb-2" placeholder="Available Position">
                </div>
                <div class="col-6">
                  <label>Job Location</label>
                  <input type="text" name="jobLocation" ngModel class="form-control mb-2" placeholder="Job Location">
                </div>
                <div class="col-6">
                    <label>Deadline</label>
                    <input type="date" name="deadLine" ngModel class="form-control mb-2" placeholder="DeadLine">
                </div>
                <div class="col-12">
                  <label>Job Description</label>
                  <textarea class="form-control mb-2" name="description" ngModel placeholder="Job Description"></textarea>
                </div>
                <div class="col-12">
                  <button class="btn yoBtn" (click)="onSubmit(form)">Publish</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- page content ends -->
  
    <!-- footer -->
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <p>Copyright &copy; 2020 <span class="orange">Yo</span><span class="purple">Tech</span> Limited All rights
              reserved</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer ends -->
  </body>
  